bin/
lib/
target/
.repository/
.classpath
.settings
.project

.api_description
*~
*.avi
*.bak
*.class
*.dll
*.doc
*.docx
*.exe
*.hprof
*.jnilib
*.log
*.pdf
*.ppt
*.pptx
*.sdf
*.so
*.so.*
*.trc
*.vsd
*.xls
*.xlsx
*.zip
*.zap
*.versionsBackup
# IDE specific gitignore, can also be moved to global gitignore
*.iml
*.idea
